html {
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #eee;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 83.5vh;
}

.backPage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(60%);
    background-color: #666;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.helpText {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 30px;
}

form input {
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    font-size: 1em;
    cursor: auto;
    border: 1px solid #333;
}

#login-btn {
    text-align: center;
    text-transform: capitalize;
    border-color: #666;
    margin-top: 20%;
}