/* Library */
.library-container {
    display: flex;
    flex-direction: column;
    padding: 3%;   
}

#liked-item:hover {
    background-color: rgba(251, 192, 45, 0.4);
}

#liked-item {
    margin: 5px 20px 0 0;
    padding: 15px;
    height: 13.125em;
    width: 20em;
    background-color: #ffffff;
    transition: background-color .25s ease;
    border: 1px solid;
    border-color: var(--secondary-color);
    border-radius: 1.25em;
}

#liked-name {
    font-size: 1em;
    color: var(--secondary-color);
}

#liked-description {
    font-size: 1.125em;
    color: var(--primary-color);
}

#liked-div {
    margin-top: 45%;
    margin-left: 5%;
}

@media only screen and (max-width: 1024px) {
    #liked-item {
        width: 10em;
    }
    #liked-div {
        margin-top: 90%;
        margin-left: 5%;
    }
}