.sidebar {
    width: 18.75em;
    min-width: 15.625em;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.navigation {
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    border-bottom: thin solid #ffffff;
}

.marked_playlists {
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

#marked-playlists-h {
    color:  #ffffff
}

.nav-item {
    margin: 15px;
    display: flex;
}

.navigation-ref {
    font-size: 1.125em;
    margin-left: 2%;
    color: var(--accent-color);
}

@media only screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}